@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Our Privacy Policy</h2>
<p>Welcome to our website, where you privacy is as important to us as the last cookie in the jar.
    We collect your data to imporve your experience, not to stalk you like your ex on social media. Rest assured,
    you secrets are safe with us-unless you happen to be a cookie recipe, in which case, we might share it with our grandma. 
    By using our site, you're basically agreeing to let us prinkle a little bit of our harmless digital magic on your browsing journey. 
    Enjoy responsibly!
</p>
<h3>@ViewData["Message"]</h3>
