@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Recipes</h1>
<h2>Breakfast</h2>
<ol>
    <li>Biscuits and Gravy</li>
</ol>
<h2>Lunch</h2>
<ol>
    <li>Grilled Cheese/Panini</li>
</ol>
<h2>Dinner</h2>
<ol>
    <li>Breaded Chicken</li>
</ol>